Options -Indexes
php_flag engine off

<FilesMatch "\.(php|phar|phtml|shtml)$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ (.*)$  index.php [QSA,L]
</IfModule>

<FilesMatch "\.(env|sql|md|json|lock|git|sh|bak|api)$">
    Require all denied
</FilesMatch>

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set Referrer-Policy "strict-origin-when-cross-origin"
    Header set Cache-Control "public, max-age=604800" "expr=%{REQUEST_URI} =~ m#^/assets/#"
</IfModule>
